{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url(../../static/images/bg_3.jpg);"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Our Menu</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home_page' %}">Home</a></span>
                            <span>Menu</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro">
        <div class="container-wrap">
            <div class="wrap d-md-flex align-items-xl-end">
                <div class="info">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="icon"><span class="icon-phone"></span></div>
                            <div class="text">
                                <h3>000 (123) 456 7890</h3>
                                <p>A small river named Duden flows by their place and supplies.</p>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="icon"><span class="icon-my_location"></span></div>
                            <div class="text">
                                <h3>198 West 21th Street</h3>
                                <p> 203 Fake St. Mountain View, San Francisco, California, USA</p>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex ftco-animate">
                            <div class="icon"><span class="icon-clock-o"></span></div>
                            <div class="text">
                                <h3>Open Monday-Friday</h3>
                                <p>8:00am - 9:00pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 pb-3">
                    {% for category in categories|slice:":4" %}
                        <h3 class="mb-5 heading-pricing ftco-animate">{{ category }}</h3>
                        {% for product in products %}
                            {% if product.category == category %}
                                <div class="pricing-entry d-flex ftco-animate">
                                    <div class="img">
                                        <img src="{{ product.image_url|default_if_none:'#' }}" alt=""
                                             style="width: 75%; height: 75%; border-radius: 50%;">
                                    </div>
                                    <div class="desc pl-3">
                                        <div class="d-flex text align-items-center">
                                            <h3><span>
                                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </span></h3>
                                            <span class="price">${{ product.price }}</span>
                                        </div>
                                        <div class="d-block">
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-6 mb-5 pb-3">
                    {% for category in categories|slice:"4:" %}
                        <h3 class="mb-5 heading-pricing ftco-animate">{{ category }}</h3>
                        {% for product in products %}
                            {% if product.category == category %}
                                <div class="pricing-entry d-flex ftco-animate">
                                    <div class="img">
                                        <img src="{{ product.image_url|default_if_none:'#' }}" alt=""
                                             style="width: 75%; height: 75%; border-radius: 50%;">
                                    </div>
                                    <div class="desc pl-3">
                                        <div class="d-flex text align-items-center">
                                            <h3><span>
                                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </span></h3>
                                            <span class="price">${{ product.price }}</span>
                                        </div>
                                        <div class="d-block">
                                            <p>{{ product.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}