{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    <a href="{{ product.get_absolute_url }}" class="image-popup">
                        <img src="{{ product.image_url|default_if_none:'#' }}" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>{{ product.name }}</h3>
                    <p class="price"><span>${{ product.price }}</span></p>
                    <p>{{ product.description }}</p>
                    <div class="row mt-4">
                        <div class="w-100"></div>
                        <div class="input-group col-md-6 d-flex mb-3">
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_product_form }}
                                <button type="submit" class="btn btn-primary btn-outline-primary">Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if recommended_products %}
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate text-center">
                        <span class="subheading">Discover</span>
                        <h2 class="mb-4">People who bought this also bought</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                </div>
                <div class="row">
                    {% for product in recommended_products %}
                        <div class="col-md-3">
                            <div class="menu-entry">
                                <a href="{{ product.get_absolute_url }}" class="img">
                                    <img src="{{ product.image_url|default_if_none:'#' }}" alt="" class="img">
                                </a>
                                <div class="text text-center pt-4">
                                    <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                    <p>{{ product.description }}</p>
                                    <p class="price"><span>${{ product.price }}</span></p>
                                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_product_form }}
                                        <button type="submit" class="btn btn-primary btn-outline-primary">Add to cart
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading">Discover</span>
                    <h2 class="mb-4">Related products</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts.</p>
                </div>
            </div>
            {% if recommended_products %}
                <div class="row">
                    {% for product in related_products %}
                        <div class="col-md-3">
                            <div class="menu-entry">
                                <a href="{{ product.get_absolute_url }}" class="img">
                                    <img src="{{ product.image_url|default_if_none:'#' }}" alt="" class="img">
                                </a>
                                <div class="text text-center pt-4">
                                    <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                    <p>{{ product.description }}</p>
                                    <p class="price"><span>${{ product.price }}</span></p>
                                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_product_form }}
                                        <button type="submit" class="btn btn-primary btn-outline-primary">Add to cart
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                {% for product in related_products %}
                    <div class="col-md-3">
                        <div class="menu-entry">
                            <a href="{{ product.get_absolute_url }}" class="img">
                                <img src="{{ product.image_url|default_if_none:'#' }}" alt="" class="img">
                            </a>
                            <div class="text text-center pt-4">
                                <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <p>{{ product.description }}</p>
                                <p class="price"><span>${{ product.price }}</span></p>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ cart_product_form }}
                                    <button type="submit" class="btn btn-primary btn-outline-primary">Add to cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}