{% extends "base.html" %}

{% block title %}
    Reservation successful
{% endblock %}

{% block content %}
       <div class="container mt-5 text-left">
        <div class="row text-center">
            <div class="col-sm-12 col-sm-offset-3">
                <br><br>
                <h1>Your reservation was successful</h1>
                <h3>Dear Client</h3>
                <p>We've sent you an email with reservation details.</p>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}
