{% extends 'base.html' %}

{% block content %}
    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image: url(../../static/images/bg_3.jpg);"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">

                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Cart</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home_page' %}">Home</a></span>
                            <span>Cart</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <tr class="text-center">
                                        <td class="product-remove">
                                            <a href="{% url 'cart:cart_remove' product.id %}"><span
                                                    class="icon-close"></span></a>
                                        </td>

                                        <td class="image-prod">
                                            <div class="img">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{{ product.image_url|default_if_none:'#' }}" alt=""
                                                         style="width: 85%; height: 85%;">
                                                </a>
                                            </div>
                                        </td>

                                        <td class="product-name">
                                            <h3>{{ product.name }}</h3>
                                            <p>{{ product.description }}</p>
                                        </td>

                                        <td class="price">${{ item.price }}</td>

                                        <td class="quantity">
                                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {% csrf_token %}
                                                {{ item.update_quantity_form.quantity }}
                                                {{ item.update_quantity_form.override }}
                                                <button type="submit" class="btn btn-primary btn-outline-primary">
                                                    Update
                                                </button>
                                            </form>
                                        </td>

                                        <td class="total">{{ item.total_price }}</td>
                                    </tr><!-- END TR-->
                                {% endwith %}
                            {% empty %}
                                <tr>
                                    <td>Your Cart is empty.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Apply a coupon:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <form action="{% url "coupons:apply" %}" method="post">
                                <tr class="text-center">
                                    {% csrf_token %}
                                    {% for field in coupon_apply_form %}
                                        <td>{{ field.label }}</td>
                                        <td>{{ field }}</td>
                                    {% endfor %}
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-outline-primary">Apply</button>
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Cart Totals</h3>
                        <p class="d-flex">
                            <span>Quantity</span>
                            <span>{{ cart.get_total_quantity }}</span>
                        </p>
                        <p class="d-flex">
                            <span>Subtotal</span>
                            <span>${{ cart.get_total_price }}</span>
                        </p>
                        <p class="d-flex">
                            <span>Delivery</span>
                            <span>$0.00</span>
                        </p>
                        <p class="d-flex">
                            <span>"{{ cart.coupon.code }}" coupon</span>
                            <span>({{ cart.coupon.discount }}% off)</span>
                        </p>
                        <p class="d-flex">
                            <span>Discount</span>
                            <span>${{ cart.get_discount|floatformat:"2" }}</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
                        </p>
                    </div>
                    <p class="text-center">
                        <a href="{% url 'orders:order_create' %}" class="btn btn-primary py-3 px-4">
                            Proceed to Checkout
                        </a>
                    </p>
                    <p class="text-center">
                        <a href="{% url 'products:product_list' %}" class="btn btn-primary py-3 px-4">
                            Continue Shopping
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}